$white: #ffffff;
$black: #181818;
// $accent: #0a3cff; // for white
$accent: #253b9f;

$blue-lighter: #1f8efa;
$blue-light: #1f5ea1;

$grey-100: #c9cbd0;
$grey-500: #586681;
$grey-600: #364560;
$grey-700: #20293c;
$grey-800: #242e42;
$grey-900: #2c2f2e;
$background-gray: #f0f3f7;

$indigo-0: #eaebfa;
$indigo-1: #d2d5f6;
$indigo-2: #b7bbf0;
$indigo-3: #959ce9;
$indigo-4: #6872e0;
$indigo-5: #0011cc;
$indigo-6: #000fb7;
$indigo-7: #000da0;
$indigo-8: #000a83;
$indigo-9: #00075c;

$grey-500-transparent: rgba(42, 52, 72, 0.8);
